html,body{

    zoom: 70%;

    height: 110%;
    margin: 0%;    
    background-image: black;


}

body::-webkit-scrollbar{
    width:15px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background:rgb(217, 10, 103);
    border-radius: 30px;
    
}


*,

*:before,
*:after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbutton:after{  /*seteamos la animacion de los nav button */
    content: "";
    position:absolute;
    background-color: rgb(217, 10, 103);
    height: 2px;
    width: 0px;
    left: 0;
    top: 0;
    transition: 0.3s;
    margin-top: 60px; /*controla altura */
}

.navbutton{
    color: rgba(241, 241, 241, 0.756);
    
}

.navbutton:hover{
    color: white;
}

.navbutton:hover:after{ /* controla la animacion hover de los nav button */
    width: 100px;
    
}


*{
    font-size: 40px;
    
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}



.barbutton{

    color: whitesmoke;
    background-color: black;
    line-height: 150px; 
    
    


}

.footerbutton{

    color: rgb(255, 255, 255);
    background-color: transparent;
    line-height: 150px; 
    text-align: right;
    margin-left: 10%;
    

}

.container{

   
    background-color: yellow;
    display: flex;
    flex-direction: row;
    width: 400vh;
    height: 24vh;

}

.container *{

    font-size: 6vh;

}

.container2{

    display:flex;
    flex-direction: row;
    background-color: #25060a;

}



footer{
    background-color: transparent;
    height: 5%;
    width: 100%;
}

#separador{

    width: 60%;
    height: 30px;
    background-color: transparent;
}

.nav{

    position:fixed;
    align-items: center;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 100%;
    gap: 20vh;
}

.nav *{

    font-size: 6vh;
}

#logo{
    
    line-height: 0px;
    text-align: center;
    width: 10vh;
    height: 26vh;
    background-color: red;
}

#contenido{

    width: 90%;
    height: 20%;
    color: red;
}

#logoimage{

    line-height: 200px;
    padding: 0%;
    margin: 0%;
    height: 26vh;
    width:  26vh;
    background-color: black;
    

}

a{

    text-decoration: none;
    background-color: transparent;
    position: relative;
    padding: 0 10px;

}

i{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.busqueda{
    line-height: 10vh;
    background-color: transparent;
    align-content: center;
    height: 0vh;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: -10vh;

}

.search{

    border: none;
    outline: none;
    align-self: center;
    width: 500px;
    background-color: black
    
    
}





.bodypage{ /* aca estaria todo el contenido principal debajo de la barra main */
    display: flex;
    flex-direction: row;
    background-color: blue;
    width: 100%;
    height: 100%;

}

.sidebar{
    width: 10%;
    height: 98%;
    background-color: rgb(27, 4, 11) ;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    line-height: 4;
    


}

.sidebargeneros{
    color: rgb(217, 10, 103);
    margin-top: 135px;
    text-shadow: 0 0 0.0em rgb(255, 255, 255);
    transition: 0.8s;
}


.sidebargeneros:hover{
    color: white;
    text-shadow: 0 0 0.9em rgb(255, 201, 201);
}


.streamcontent{ /* contiene todo lo que esta al lado de la barra de categorias */
    display: flex;
    flex-direction: column;
    line-height: 700px;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}



.carrouselcontent{ /* aca se inicia tambien la animacion de background */
    margin-top: 30px;
    
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg,rgb(18, 5, 5) , rgb(72, 6, 6),rgb(18, 5, 5) 100%);
    background-size: 500%;
    background-position: 0%;
    animation: gradiante 10s ease infinite;
}


@keyframes gradiante {

    0%{
        background-position: 0%;
    }

    100%{
        background-position: 125%;
    }

}

.footer{
    
    display:flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: rgb(27, 2, 20);
    z-index: 9999;
}

.moviecontainer{
    width: 2200px; /*controla el largo del widget que encierra el carrusel de imagenes */
    height: 400px;
    margin-top: 195px; /* controla el espacio entre las galerias de contenido*/
    margin-bottom: 1px;
    background-color: transparent   ; /* debug para test del slider */
    margin-left: 7%;
    overflow: hidden;
    
    
}

.moviecontainer2{
    width: 2200px; /*controla el largo del widget que encierra el carrusel de imagenes */
    height: 400px;
    margin-top: 150px; /* controla el espacio entre las galerias de contenido*/
    margin-bottom: 1px;
    background-color: transparent   ; /* debug para test del slider */
    margin-left: 7%;
    overflow: hidden;
    
    
}

.moviecontainer ul{
    
    margin-top: 0px;
    padding-top: 0%;
    display: flex;
    padding-left: 0%;
    gap: 15px;
    position:relative;
    left: 0;
    animation: moveLeft 15s linear infinite;
    z-index: 1; /* esto hace que aparezca debajo de el header*/
    /*infinite alternate ease-in-out*/

}

.moviecontainer2 ul{
    
    margin-top: 0px;
    padding-top: 0%;
    display: flex;
    padding-left: 0%;
    gap: 15px;
    position:relative;
    left: 0;
    animation: moveLeft2 18s linear infinite;
    z-index: 1; /* esto hace que aparezca debajo de el header*/
    /*infinite alternate ease-in-out*/

}


header{
    position: fixed; /*lo que tenia que ir fixed era el header no hacia falta con el class nav*/
    z-index: 10  ; /*esto arregla que las imagnes pasen por encima de la barra*/
   
}


@keyframes moveLeft {
    0% {left:0;}
    10% {left:0;}
    
    15% {left:-735px;}
    35% {left:-735px;}

    40% {left:-1470px;}
    60% {left:-1470px;}

    65% {left:-2210px;}
    85% {left:-2210px;}

    90% {left:-2940px;}
    100% {left:-2940px;}

  }

  @keyframes moveLeft2 {
    0% {left:0;}
    10% {left:0;}
    
    15% {left:-735px;}
    35% {left:-735px;}

    40% {left:-1470px;}
    60% {left:-1470px;}

    65% {left:-2210px;}
    85% {left:-2210px;}

    90% {left:-2940px;}
    100% {left:-2940px;}

  }

ul{
    
    list-style: none;
}

.fixbarra{
    background-color: magenta;
    width: 100%;
    height: 120px;
    

}



.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black     ;
    width: 55%;
    height: 70%;
    margin-left: 10%;
    margin-top: 9%;
    line-height: 0.8;
    text-align: center;
    border-radius: 40px;
    filter:blur( 0px);
    opacity: 0.7;
    
    
}

.new_division{  /*contiene el texto y el video de esta seccion */
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: transparent; /*change color for debug*/
    height: 106%;
    width: 100%;
    margin-bottom: 30%;
    z-index: 1;
}

.video{
    position:relative;
    width: 500px;
    height: 700px;
    background-color: black;
    margin-top: 13%;
    margin-left: 10%;
    z-index: 3;
    text-align: center;
    border-radius: 40px;
}


#twitter,
#facebook,
#instagram{
    color: rgb(210, 136, 204);
}


.preciocontainer{
    display: flex;
    flex-direction: column;
    justify-content:safe;
    background-color: rgb(56, 14, 14);
    width: 23%;
    height: 70%;
    margin-left: 7.5%;
    margin-top: 9%;
    line-height: 0.0;
    text-align: center;
    border-radius: 40px;
    filter:blur( 0px);
    opacity: 0.7;

    
}



.contenidoprecio{
    
    margin-left: 50px;
    margin: 30px;

}



#spacing{ /*controla inicial del box conedor del precio y el contenido */
    margin-top: 70px;
}

#Precio1 {

    color: rgb(254, 1, 56);
    

}

#Precio2 {

    color: rgb(254, 1, 56);
   

}

.pricebox{

    position:absolute;
    background-color: black;
    margin-top: 800px;
    width: 100%;
    

}

.formcontainer{


        display: flex;
        flex-direction: row;
        position:absolute; /*esto evita que desplaze el footer*/
        background-color: transparent; /*change color for debug*/
        height: 106%;
        width: 250vh; /* limita el contenido del form */
        margin-bottom: 30%;
        margin-left: 23%; /*controla la posicion del formulario principal*/
        z-index: 1;
        gap: 0%;
        overflow: hidden; /* OCULTA el resto del formulario */

}

.formulario{ /*en modo lista*/
    
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    background-color: transparent; /*activar para debugg*/
    height: inherit;
    margin-left: -0%; /* controla el avanze del formulario entre PASSOS FUNCION PRINCIPAL */
}

.form{


    background-color: rgb(171, 43, 43);
    display: flex;
    flex-direction: column;
    
    margin-top: 10%; /* controla la posicion horizontal del form */
    margin-left: -0%; /* controla el avanze del formulario entre PASSOS FUNCION PRINCIPAL */
    
    border-radius: 30px;
    width: 250vh;
    height:180vh;
    text-align: center;
    align-items: center;
    gap:3%;
    z-index: 0;

}

.form *{
 
 font: red;
 font-size: 6vh;
}

.form .circle {
    

    width:  17vh;
    height: 17vh;



  }

#resumeimprimible *{ /*sin esta copia literal el pdf por algun motivo sale mal*/
 
 font: red;
 font-size: 6vh;
}

#resumeimprimible .circle { /*sin esta copia literal el pdf por algun motivo sale mal*/
    

    width:  17vh;
    height: 17vh;



  }

.encolumnado_form{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 150vh;
    align-content: right;
    
}

.insdeform{

    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 150vh;
    width: 170vh;
    gap: 7vh;
    align-items: center;

}

.price{

    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    
    background-color:  transparent;
    width: 30%;
    height: 100%;
    margin-top: 30vh;
}

.formspaceprice{
    background-color: transparent;
    line-height: 11vh;
    font-size: 10vh;
    color: whit;
    
}

.pricedisplay {

    background-color: black;
    height: 30vh;
    width: 60vh;
    border-radius: 30vh;
    position: absolute;
    margin-top: 70vh;
    line-height: 28vh;

}

.pricedisplay p {
    font-size: 15vh;
    color: red;
    font-weight: bold;
}

.stepper{  /* a modo de test para luego poner imputs reales*/

    background-color: black;
    line-height: 11vh;
    border-radius: 20px;
    border-style: none;
    width: 250vh;
    height: 25vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2%;
    
}

.progressbar1{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-image: linear-gradient(to right, crimson 10%, transparent 0%); /* controla el progreso de la barra*/
    width: 100%;
    height: 5%;
    margin-top: 0.5%;
    gap:5%;
 
    
}

.progressbar2{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-image: linear-gradient(to right, crimson 30%, transparent 0%); /* controla el progreso de la barra*/
    width: 100%;
    height: 5%;
    margin-top: 0.5%;
    gap:5%;
}

.progressbar3{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-image: linear-gradient(to right, crimson 50%, transparent 0%); /* controla el progreso de la barra*/
    width: 100%;
    height: 5%;
    margin-top: 0.5%;
    gap:5%;
}

.progressbar4{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-image: linear-gradient(to right, crimson 70%, transparent 0%); /* controla el progreso de la barra*/
    width: 100%;
    height: 5%;
    margin-top: 0.5%;
    gap:5%;
}

.progressbar5{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-image: linear-gradient(to right, crimson 90%, transparent 0%); /* controla el progreso de la barra*/
    width: 100%;
    height: 5%;
    margin-top: 0.5%;
    gap:5%;
}
.progressbarcontainer{
    display: flex;
    flex-direction: row;
    position: relative; /* relative funciona como asolute, pero respeta el overflow */
    background-color: crimson;

    width: 100%;
    height: 4%;
    margin-top: 0.%;
    gap:5%;
 
    
}

.circle{
    position: relative;
    margin-top:-3%;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: crimson;
    margin-left: 8%
    

   
    
}

.circle p{
    position: absolute;
    
    margin-left: 40%;
    margin-top: 10%;
}

.insidecircle {
    position:absolute;
    text-align:center;
    font-size: 3px;
    
}

.formspace{
    background-color: transparent;
    line-height: 11vh;
    display: flex;
    flex-direction: row;
    gap:40%;
}



.formspace button:active + .form {

    margin-left: -10%;

}

.formspace button{
    margin-top: 5vh;
    color: white;
    background-color: black;
    width: 80vh;
    height: 15vh;
    border-radius: 30vh;
}

.inputform{
    background-color: black;
    border-radius: 20px;
    border-style: none;
    width: 70%;
    height: 10%;
    text-align: center;
}

.formcontent{ /*este contiene los componentes del form*/
    background-color: pink;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1%;
       

    height: 80%;
    width: 20em;
    
}

.listadesplegable{
    margin-top:0%;
    width: 70%;
    height: 11%;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}



.forminside{
    border-radius: 300px;
}


#reso{
    margin-top:0%;
}


#subtitulos{
    margin-top:0%;
}

.titulofix{
    margin-bottom: 0%;
}

.infospace{

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: rgb(62, 4, 4);
    border-radius: 20px;
    border-style: none;
    width: 70%;
    height: 10%;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.infospace *{
    margin-top: 50vh;
}

.infospace p {

    position: relative;
    color: white;
    font-size: 50px;
    margin-bottom: 30%;

}